services:
  db:
    image: postgres:16-alpine
    container_name: movie_gpt_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 0331
      POSTGRES_DB: Movie_DB
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: movie_gpt_backend
    environment:
      DATABASE_URL: postgresql://postgres:0331@db:5432/Movie_DB
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: movie_gpt_frontend
    environment:
      BASE_URL: http://backend:8000
    ports:
      - "8501:8501"
    depends_on:
      - backend
    restart: unless-stopped